body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    
    .container{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;

    }

    .mg-t-70{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #1A73BF;
    }
    
    .header-text{
        text-align: center;
        color: #707070;
        background-image: url(../images/Group-22.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-bottom: 33.15%;
        height: 0;
    }
    .gheader-text{
        position: relative;
    }
    .gheader-text img{
        width: 100%;
        height: auto;

    }
    .top-text{
        min-width: 424px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 5.5%;
        text-align: center;
    }
    .light-big{
        font-size: 3.6vw;
        font-weight: lighter;
        margin: 0;
    }
    .big-italic{
        font-size: 3.6vw;
        font-weight: 500;
        font-style: italic;
        margin: 0;
    } 
    .line-he{
        line-height: 0.8;
    }
    .text-white{
        color:white;
    }
    .main-body{

        background-color: #1A73BF;
        min-height: 200px;
    }
    .invite-text{
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .invite-text img{
        width: 101px;
    }
    .r-right{
        transform: rotate(-39deg);
    }
    .text-wishes{
        padding: 0 15px 0 15px;
    }
    .dash{
        width: 952px;
        height: 4px;
        padding: 0 15px 0 15px;
        background-image: url("../images/Line 4.svg");
        margin: auto;
    }
    /* body .invite-text h2::before {
        content: "";
        background-image: url("../images/Path 34.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 110px;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 21.5%;
        top: 16%;
        transform: rotateZ(-45deg);
      }
    body .invite-text h2::after {
        content: "";
        background-image: url("../images/Path 34.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 110px;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 69.5%;
        top: 29%;
        transform: rotateZ(5deg);
      } */